mixin headers(data)
    - var lang = '';
    each item in data
      -
        lang += item.lang + ' '
    div #{lang} <br><br>

    if data[0].header
      each item, index in data
          if index === 0
            | {{IF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header}
          else if (index === data.length - 1)
            | {{ELSE}}
            | #{item.header}
          else
            | {{ELSIF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header}
      | {{ENDIF}}
      | <br><br>

    if data[0].header2
      each item, index in data
          if index === 0
            | {{IF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header2}
          else if (index === data.length - 1)
            | {{ELSE}}
            | #{item.header2}
          else
            | {{ELSIF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header2}
      | {{ENDIF}}
      | <br><br>
    if data[0].header3
      each item, index in data
          if index === 0
            | {{IF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header3}
          else if (index === data.length - 1)
            | {{ELSE}}
            | #{item.header3}
          else
            | {{ELSIF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header3}
      | {{ENDIF}}
      | <br><br>





mixin hr(prop_item)
  table(width="100%"  cellpadding="0" cellspacing="0" border="0" align="left" class="hr")
    tr
      td: div &nbsp;

mixin h1(prop_item, props)
  -
    props = props || {}
    props.class = props.class || "h1"
    props.align = props.align || (prop_item.rtl) ? 'right' : 'left'
  tr
    td&attributes(props): div
      block

mixin h2(prop_item, props)
  - props = props || {"class": "h2", "align": (prop_item.rtl) ? 'right' : 'left'}
  tr
    td&attributes(props): div
      block

mixin text(prop_item, props)
  //- -console.log(prop_item)
  - props = props || {"class": "text", "align": (prop_item.rtl) ? 'right' : 'left'}
  tr
   td&attributes(props): div
     block

mixin btn(prop, styleProp, styleTb)
  - style =  (styleProp) ? styleProp : {"style": "padding-bottom:20px;"}
  - styleTb = (styleTb) ? styleTb :  {"style": "margin:auto;"}
  tr
    td.button-wrapper&attributes(style)
      table.button&attributes(styleTb)
        tr
          td.button-inner(valign="middle" align="center"): div
            a(href="#{prop.link}" target="_blank" title="#{prop.title}").button-link: span !{prop.title}

mixin banner(prop)
  tr
    td.fluid(align="center" valign="top"): a(href="#{prop.link}" target="_blank"): img(src="#{prop.src}" style="padding-bottom: 0;")


mixin footer(prop_item)
  table(width="600"  cellpadding="0" cellspacing="0" border="0" align="center" id="footerTable" dir="#{(prop_item.rtl) ? 'rtl' : 'ltr'}")
    tr
      td(style="padding-top:25px; font-size:0px;") &nbsp;
    tr
      td !{prop_item.footerFirst} <br><br>
    tr
      td(style="") !{replaceUtmInFooter(prop_item.footerSecond, date, prop_item.lang)}

mixin login(prop_item)
  table(width="600" cellpadding="0" cellspacing="0" border="0" align="center" id="loginTable" dir="#{(prop_item.rtl1) ? 'rtl' : 'ltr'}" style="background: #65a33e url(http://multimedia.email.fbs.com/fbs/1/1/photos/3667.jpg) no-repeat center center;")
   tr
     td.fluid(style="padding-left: 60px; padding-right: 60px; background: #f2f2f2 url(http://multimedia.email.fbs.com/fbs/1/1/photos/3667.jpg) no-repeat center center;")
       <!--[if gte mso 9]>
       | <v:rect style="width:600px;height:80px;" strokecolor="none">
       |   <v:fill type="tile" color="#65a33e" src="http://multimedia.email.fbs.com/fbs/1/1/photos/3667.jpg" /></v:fill>
       | </v:rect>
       | <v:shape id="NameHere" style="position:absolute;width:600px;height:80px;">
       <![endif]-->
       table(width="100%" cellpadding="0" cellspacing="0" border="0" align="center" style="")
         tr
           td(valign="middle" align="#{(prop_item.rtl1) ? 'right' : 'left'}" width="61" style="border: 2px solid white; font-size:0").logo
             a(href="#{prop_item.site + utm(date, task, 'footer', 'logo', 'index', prop_item.lang)}" target="_blank"): img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/2732.png" alt="FBS" width="63" height="61")
           td(valign="middle" align="#{(prop_item.rtl1) ? 'left' : 'right'}" )
             table.button.button--wide(style="margin:0;"  cellpadding="0" cellspacing="0" border="0")
               tr
                 td.button-inner(valign="middle" align="center" style="border-left: 2px solid white; border-top: 2px solid white; border-bottom: 2px solid white;"): div
                   a(href="#{'https://' + 'my.' + prop_item.site.spliceUrl() + '/payments' + utm(date, task, 'footer', 'button', 'payments', prop_item.lang)}" target="_blank" title="Personal Area").button-link: span Personal Area
                 td.button-inner(valign="middle" align="center" width="30" style="background-color: #659733; border-right: 2px solid white; border-top: 2px solid white; border-bottom: 2px solid white;"): a(href="#{'https://' + 'my.' + prop_item.site.spliceUrl() + '/payments' + utm(date, task, 'footer', 'button', 'payments', prop_item.lang)}" target="_blank" title="Personal Area"): img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3308.png" alt="")
       <!--[if gte mso 9]>
       | </v:shape>
       <![endif]-->
mixin gmailHack()
  | <!-- Gmail hack -->
  | <div style="display:none; white-space:nowrap; font:15px courier; color:#ffffff; line-height:0; width:600px !important; min-width:600px !important; max-width:600px !important;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
  | <!-- /Gmail hack -->

mixin startLetter()
  table(cellpadding="0" cellspacing="0" border="0" align="center" id="backgroundTable" )
    tr
      td
        center
          div(align="center").wrapper
            block

mixin head()
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=600, initial-scale=1")
  //- meta( name="viewport" content="width=600, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,target-densitydpi=device-dpi, user-scalable=no")
  meta(meta name="format-detection" content="telephone=no")

  link(rel="stylesheet", href="style/style.css")
  style.
    a[x-apple-data-detectors=true] {
     color: inherit !important;
     text-decoration: inherit !important;
    }
    *[x-apple-data-detectors=true] {
     color: inherit !important;
     text-decoration: inherit !important;
    }
    /* Windows Phone Viewport Fix */
    @-ms-viewport {
        width: device-width;
    }
    #outlook a
    {
        padding: 0;
    }
    v\:* { behavior: url(#default#VML); display: inline-block; }

mixin list(prop_item, title, content)
  tr
    td(align="#{(prop_item.rtl) ? 'right' : 'left'}" style="padding-top:5px; padding-bottom:0px;").h2: div !{title}
  tr
   td(align="#{(prop_item.rtl) ? 'right' : 'left'}" style="padding-bottom:15px;").text: div !{content}


mixin step(number, even)
  - var even = even || 'odd'
  table.step(cellpadding="0" cellspacing="0" border="0" height="")
    tr
      if (even !== 'odd')
        td(valign="middle" align="right").step__arrow.img-responsive: img(src="http://i.imgur.com/l6LN5Yc.png" width="9" height="16" border="0")
      td(valign="top"): div !{number} <br><br><br><br>
      //- <br><br><br><br><br><br><br><br>
      if (even === 'odd')
        td(valign="middle" align="left").step__arrow.img-responsive: img(src="http://i.imgur.com/IfUL4j4.png" width="9" height="16" border="0")


mixin preheader(prop_item)
  // PREHEADER
  tr
    td(align="center" style="padding-top:0px;")
      div(style="display:none;font-size:1px;color:#000000;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;") !{prop_item.preheader}
mixin startBanner(prop_item, topBanner, type)
  -
    var typeMap =
      {
        "trans": "#65a33e",
        "trig": "#7a6492",
        "promo": "#457a93",
        "news": "#a77d3b"
      }
      var borderColor;
      if (EMS) {
        borderColor = typeMap.trig;
      } else {
        borderColor = (typeMap.hasOwnProperty(type)) ? typeMap[type] : typeMap.trans;
      }

  if topBanner
    //BANNER
    tr
      td.fluid
        table(width="600" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff; font-size: 0;" dir="ltr")
          tr
            td(align="left" valign="top" style="border-top: 6px solid #{borderColor};"): a(href="#{prop_item.site + utm(date, task, 'header', 'logo', 'index', prop_item.lang)}" target="_blank"): img(src="#{topBanner.left}", alt="FBS" width="300" height="#{(topBanner.height) ? height : '250'}")
            td(align="left" valign="top" style="border-top: 6px solid #{borderColor};"): a(href="#{'https://' + 'my.' + prop_item.site.spliceUrl() + '/payments' + utm(date, task, 'header', 'button', 'payments', prop_item.lang)}" target="_blank" title="Personal Area"): img(src="#{topBanner.right}", alt="Personal Area" width="300" height="#{(topBanner.height) ? topBanner.height : '250'}")


mixin ifelse(prop_item, index, prop)
  if GR
    if index === 0
      | {{IF "(language STRING_EQ '!{prop_item.lang}')"}}
    else if (index === prop.length - 1)
      | {{ELSE}}
    else
      | {{ELSIF "(language STRING_EQ '!{prop_item.lang}')"}}





//- NEW ERA

//- ELEMENTS

mixin table(attr)
  - attr = attr || {}
  table(cellpadding="0" cellspacing="0" border="0")&attributes(attr)
    block
mixin a(attr)
  - attr = attr || {}
  a(target="_blank")&attributes(attr)
    block

mixin bg(img, attr)
  -
    attr = attr || ''
  td(style="background: #ebebeb url(#{img.src}) center bottom no-repeat;")&attributes(attr)
    <!--[if gte mso 9]>
    | <v:rect style="width:#{(img.width || '600') + 'px'}; height:#{img.height + 'px' || ''};" strokecolor="none">
    |  <v:fill type="tile" color="#fff" src="#{img.src}" /></v:fill>
    | </v:rect>
    | <v:shape id="lolid" style="position:absolute; width:#{(img.width || '600') + 'px'}; height:#{img.height + 'px' || ''};">
    <![endif]-->
    block
    <!--[if gte mso 9]>
    | </v:shape>
    <![endif]-->

mixin ol(data)
  tr
    td
      +table
        each item, number in data
          tr
            td(width="34" align="center" valign="top" style="padding-right:7px; padding-left:7px; padding-bottom:10px; padding-top:2px;")
              if number === 0
                img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3798.png" alt="1")
              else if number === 1
                img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3799.png" alt="2" width="17" height="23")
              else if number === 2
                img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3797.png" alt="3" width="17" height="23")
            td.text(valign="middle"): div !{item}

mixin footerBye(prop_item, item)

  tr
    td(style="padding-top:10px;")
      table(cellpadding="0" cellspacing="0" border="0" align="#{(prop_item.rtl) ? 'right' : 'left'}")
        tr
          td: a(href="#{prop_item.site + utm(date, task, 'footer', 'logo', 'index', prop_item.lang)}"): img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3792.png", alt="" width="25" height="25")
          td(style="font-size: 10px;  color: #696969; padding-left:10px; padding-right:10px; "): div !{item}