mixin headers(data)
    - var lang = '';
    each item in data
      -
        lang += item.lang + ' '
    div #{lang} <br><br>

    if data[0].header
      each item, index in data
          if index === 0
            | {{IF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header}
          else if (index === data.length - 1)
            | {{ELSE}}
            | #{item.header}
          else
            | {{ELSIF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header}
      | {{ENDIF}}
      | <br><br>

    if data[0].header2
      each item, index in data
          if index === 0
            | {{IF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header2}
          else if (index === data.length - 1)
            | {{ELSE}}
            | #{item.header2}
          else
            | {{ELSIF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header2}
      | {{ENDIF}}
      | <br><br>
    if data[0].header3
      each item, index in data
          if index === 0
            | {{IF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header3}
          else if (index === data.length - 1)
            | {{ELSE}}
            | #{item.header3}
          else
            | {{ELSIF "(language STRING_EQ '!{item.lang}')"}}
            | #{item.header3}
      | {{ENDIF}}
      | <br><br>

mixin headersOnly(data)

    if data[0].header
      each item, index in data
        div #{item.lang} <br>
        | #{item.header}
      | <br><br>

mixin hr(prop_item)
  table(width="100%"  cellpadding="0" cellspacing="0" border="0" align="center" class="hr")
    tr
      td: div &nbsp;

mixin h1(prop_item, props)
  -
    props = props || {}
    props.class = props.class || "h1"
    props.align = props.align || ((prop_item.rtl) ? 'right' : 'left')
  tr
    td&attributes(props): div
      block

mixin h2(prop_item, props)
  -
    props = props || {}
    props.class = props.class || "h2"
    props.align = props.align || ((prop_item.rtl) ? 'right' : 'left')

  tr
    td&attributes(props): div
      block

mixin text(prop_item, props)
  - props = props || {}
  - props.class = props.class || 'text'
  - props.align = props.align ||  (prop_item.rtl) ? 'right' : 'left'
  tr
   td&attributes(props): div
     block

mixin btn(prop, styleProp, styleTb)
  -
    style =  (styleProp) || {};
    style.style  = style.style || "padding-bottom:20px;"
    style.align = style.align  || "center"
    styleTb = styleTb || {};
    styleTb.style = styleTb.style || "margin:auto;"
    styleTb.align = styleTb.align || "center";
  tr
    td.button-wrapper&attributes(style)
      table.button&attributes(styleTb)
        tr
          td.button-inner(valign="middle" align="center"): div
            a(href="#{prop.link}" target="_blank" title="#{prop.title}").button-link: span !{prop.title}

mixin banner(prop)
  tr
    td.fluid(align="center" valign="top"): a(href="#{prop.link}" target="_blank"): img(src="#{prop.src}" style="padding-bottom: 0;")


mixin footer(prop_item)
  table(cellpadding="0" cellspacing="0" border="0" align="center" id="footerTable" dir="#{(prop_item.rtl) ? 'rtl' : 'ltr'}")
    tr
      td(style="padding-top:25px; font-size:0px;") &nbsp;
    tr
      td(align="#{(prop_item.rtl) ? 'right' : 'left'}") !{prop_item.footerFirst} <br><br>
    tr
      td(align="#{(prop_item.rtl) ? 'right' : 'left'}") !{replaceUtmInFooter(prop_item.footerSecond, date, prop_item.lang)}

//- 141016
//- New footer template
mixin footer2(prop_item)
  table(width="600"  cellpadding="0" cellspacing="0" border="0" align="center" id="footerTable" dir="#{(prop_item.rtl) ? 'rtl' : 'ltr'}")
    tr
      td(style="padding-top:25px; font-size:0px;") &nbsp;
    tr
      td(align="#{(prop_item.rtl) ? 'right' : 'left'}") !{prop_item.footerFirst} <br><br>
    tr
      td(align="#{(prop_item.rtl) ? 'right' : 'left'}") !{replaceUtmInFooter(prop_item.footerSecond, date, prop_item.lang)}


mixin login(prop_item)
  table(width="600" cellpadding="0" cellspacing="0" border="0" align="center" id="loginTable" dir="#{(prop_item.rtl1) ? 'rtl' : 'ltr'}" style="background: #65a33e url(http://multimedia.email.fbs.com/fbs/1/1/photos/3667.jpg) no-repeat center center;")
   tr
     td.fluid(style="background: #f2f2f2 url(http://multimedia.email.fbs.com/fbs/1/1/photos/3667.jpg) no-repeat center center;")
       <!--[if gte mso 9]>
       | <v:rect style="width:600px;height:80px;" strokecolor="none">
       |   <v:fill type="tile" color="#65a33e" src="http://multimedia.email.fbs.com/fbs/1/1/photos/3667.jpg" /></v:fill>
       | </v:rect>
       | <v:shape id="NameHere" style="position:absolute;width:600px;height:80px;">
       <![endif]-->
       table(width="480" cellpadding="0" cellspacing="0" border="0" align="center" style="")
         tr
           td(valign="middle" align="#{(prop_item.rtl1) ? 'right' : 'left'}" width="61" style="border: 2px solid white; font-size:0").logo
             a(href="#{prop_item.site + utm(date, task, 'footer', 'logo', 'index', prop_item.lang)}" target="_blank"): img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/2732.png" alt="FBS" width="63" height="61")
           td(valign="middle" align="#{(prop_item.rtl1) ? 'left' : 'right'}" )
             table.button.button--wide(style="margin:0;"  cellpadding="0" cellspacing="0" border="0")
               tr
                 td.button-inner(valign="middle" align="center" style="border-left: 2px solid white; border-top: 2px solid white; border-bottom: 2px solid white;"): div
                   a(href="#{'https://' + 'my.' + prop_item.site.spliceUrl() + '/payments' + utm(date, task, 'footer', 'button', 'payments', prop_item.lang)}" target="_blank" title="Personal Area").button-link: span Personal Area
                 td.button-inner(valign="middle" align="center" width="30" style="background-color: #659733; border-right: 2px solid white; border-top: 2px solid white; border-bottom: 2px solid white;"): a(href="#{'https://' + 'my.' + prop_item.site.spliceUrl() + '/payments' + utm(date, task, 'footer', 'button', 'payments', prop_item.lang)}" target="_blank" title="Personal Area"): img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3308.png" alt="")
       <!--[if gte mso 9]>
       | </v:shape>
       <![endif]-->

mixin loginAlter(prop_item, ems)
  table(width="100%" cellpadding="0" cellspacing="0" border="0" align="center" id="loginTable" dir="#{(prop_item.rtl1) ? 'rtl' : 'ltr'}" style="max-width:600px; margin: 0 auto; ")
   tr
     td(align="right" style="padding-left:0; padding-right: 0; padding-top: 0; padding-bottom: 0; font-size: 0;" width="50%")
      +a({href: prop_item.site + utm(date, task, 'footer', 'logo', 'index', prop_item.lang)})
        img(src="#{ ems ?  'http://s.fbs.direct/custloads/761680031/2016/01_TRIGER/BONUS_888/login_left.png' : 'http://multimedia.email.fbs.com/fbs/1/1/photos/3944.png'}" alt="FBS" style="display:block; width: 100%; font-size:16px;")
     td(align="left" style="padding-left:0; padding-right: 0; padding-top: 0; padding-bottom: 0; font-size: 0;" width="50%")
      +a({href: 'https://' + 'my.' + prop_item.site.spliceUrl() + '/payments' + utm(date, task, 'footer', 'button', 'payments', prop_item.lang)})
        img(src="#{ ems ?  'http://s.fbs.direct/custloads/761680031/2016/01_TRIGER/BONUS_888/login_right.png' : 'http://multimedia.email.fbs.com/fbs/1/1/photos/3945.png'}" alt="Personal Area" style="display:block; width: 100%; color: #fff; background-color: #70A839;  font-size:16px;")





mixin head()
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  //- meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="viewport" content="width=820")

  meta(meta name="format-detection" content="telephone=no")

  link(rel="stylesheet", href="style/style.css")
  style.
    a[x-apple-data-detectors=true] {
     color: inherit !important;
     text-decoration: inherit !important;
    }
    *[x-apple-data-detectors=true] {
     color: inherit !important;
     text-decoration: inherit !important;
    }
    /* Windows Phone Viewport Fix */
    @-ms-viewport {
        width: device-width;
    }
    #outlook a
    {
        padding: 0;
    }
    v\:* { behavior: url(#default#VML); display: inline-block; }

    @media (max-width:620px) {
      .contentTb > tbody > tr > td:not(.fluid) {
        padding-right: 20px !important;
        padding-left: 20px !important;
      }
    }
  |  <!--[if (gte mso 9)|(IE)]> <style type="text/css"> table {border-collapse: collapse;} </style> <![endif]-->

mixin list(prop_item, title, content)
  tr
    td(align="#{(prop_item.rtl) ? 'right' : 'left'}" style="padding-top:5px; padding-bottom:0px;").h2: div !{title}
  tr
   td(align="#{(prop_item.rtl) ? 'right' : 'left'}" style="padding-bottom:15px;").text: div !{content}


mixin step(number, even)
  - var even = even || 'odd'
  table.step(cellpadding="0" cellspacing="0" border="0" height="")
    tr
      if (even !== 'odd')
        td(valign="middle" align="right").step__arrow.img-responsive: img(src="http://i.imgur.com/l6LN5Yc.png" width="9" height="16" border="0")
      td(valign="top"): div !{number} <br><br><br><br>
      //- <br><br><br><br><br><br><br><br>
      if (even === 'odd')
        td(valign="middle" align="left").step__arrow.img-responsive: img(src="http://i.imgur.com/IfUL4j4.png" width="9" height="16" border="0")


mixin preheader(prop_item)
  // PREHEADER
  tr
    td(align="center" style="padding-top:0px;" dir="#{(prop_item.rtl) ? 'rtl' : 'ltr'}")
      div(style="display:none;font-size:1px;color:#000000;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;") !{prop_item.preheader}

mixin startBanner(prop_item, topBanner, type)
  -
    var typeMap =
      {
        "trans": "#65a33e",
        "trig": "#7a6492",
        "promo": "#457a93",
        "news": "#a77d3b",

      }
      var borderColor;
      // if (EMS) {
      //   // borderColor = typeMap.trig;
      // } else {
        borderColor = (typeMap.hasOwnProperty(type)) ? typeMap[type] : typeMap.trans;
      // }

      var leftWidth = (topBanner.leftWidth) ? topBanner.leftWidth  : '50%'
      var rightWidth =  (topBanner.rightWidth) ? topBanner.rightWidth  : '50%'



  if topBanner
    //BANNER
    tr
      td.fluid
        table(width="100%" cellpadding="0" cellspacing="0" border="0" style="max-width: 600px; margin: 0 auto; table-layout: fixed; background-color: #ffffff;" )
          tr
            td(align="right" valign="top" style="border-top: 6px solid #{borderColor};" width=leftWidth)
              a(href="#{prop_item.site + utm(date, task, 'header', 'logo', 'index', prop_item.lang)}" target="_blank")
                img(src="#{topBanner.left}", alt="FBS")
            td(align="left" valign="top" style="border-top: 6px solid #{borderColor};" width=rightWidth)
              a(href="#{'https://' + 'my.' + prop_item.site.spliceUrl() + '/payments' + utm(date, task, 'header', 'button', 'payments', prop_item.lang)}" target="_blank" title="Personal Area")
                img(src="#{topBanner.right}", alt="Personal Area" )

mixin ifelse(prop_item, index, prop)
  if GR
    if index === 0
      | {{IF "(language STRING_EQ '!{prop_item.lang}')"}}
    else if (index === prop.length - 1)
      | {{ELSE}}
    else
      | {{ELSIF "(language STRING_EQ '!{prop_item.lang}')"}}


//- NEW ERA

//- ELEMENTS

mixin table(attr)
  -
    attr = attr || {}
    attr.width = attr.width || '100%'
  table(cellpadding="0" cellspacing="0" border="0")&attributes(attr)
    block
mixin a(attr)
  - attr = attr || {}
  a(target="_blank")&attributes(attr)
    block

mixin bg(img, attr)
  -
    img = img || ''
    img.color = img.color || '#fff'
    img.height = img.height || '200'
    img.src = img.src || ''
    attr = attr || {}
  td(style="background: #{img.color} url(#{img.src}) center bottom no-repeat; padding-left:0; padding-right:0;")&attributes(attr)
    |<!--[if gte mso 9]>
    | <v:rect style="width:#{(img.width || '600') + 'px'}; height:#{img.height + 'px' || ''};" strokecolor="none">
    |  <v:fill type="tile" color="#fff" src="#{img.src}" /></v:fill>
    | </v:rect>
    | <v:shape id="lolid" style="position:absolute; width:#{(img.width || '600') + 'px'}; height:#{img.height + 'px' || ''};">
    <![endif]-->
    block
    <!--[if gte mso 9]>
    | </v:shape>
    <![endif]-->

mixin ol(data)
  tr
    td
      +table
        each item, number in data
          tr
            td(width="34" align="center" valign="top" style="padding-right:7px; padding-left:7px; padding-bottom:10px; padding-top:2px;")
              if number === 0
                img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3798.png" alt="1")
              else if number === 1
                img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3799.png" alt="2" width="17" height="23")
              else if number === 2
                img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3797.png" alt="3" width="17" height="23")
            td.text(valign="middle"): div !{item}

mixin footerBye(prop_item, item, align)
  - align = align || ((prop_item.rtl) ? 'right' : 'left')
  tr
    td(style="padding-top:10px;")
      table(cellpadding="0" cellspacing="0" border="0" align=align)
        tr
          td(valign="middle"): a(href="#{prop_item.site + utm(date, task, 'footer', 'logo', 'index', prop_item.lang)}" style="font-size:0;" target="_blank"): img(src="http://multimedia.email.fbs.com/fbs/1/1/photos/3792.png", alt="" width="25" height="25" style="display:block;")
          td.footerBye__text(style="font-size: 10px;  color: #696969; padding-left:10px; padding-right:10px; font-family: Arial, sans-serif"): div !{item}

mixin bullet
  img(src="http://s.fbs.direct/custloads/761119851/2016/11_november/anons_new_site/bullet.png" width="15" height="15" alt="")

mixin listItem(prop_item, item)
  - var paddingDir = (prop_item.rtl) ? 'padding-left:' : 'padding-right:'
  - var align = (prop_item.rtl) ? 'right': 'left';
  tr
    td(style="padding-bottom:10px;")
      +table({"dir": (prop_item.rtl) ? 'rtl' : 'ltr'})
        tr
          td(style="#{paddingDir + '7px;'}" valign="middle" width="15")
            +bullet
          td.text.text--list(valign="middle" align=align): div
            if item
              | !{item}
            else
              block




mixin startBanner(prop_item, topBanner, type)
  -
    var typeMap =
      {
        "trans": "#65a33e",
        "trig": "#7a6492",
        "promo": "#457a93",
        "news": "#a77d3b",

      }
      var borderColor;
        borderColor = (typeMap.hasOwnProperty(type)) ? typeMap[type] : typeMap.trans;

      var leftWidth = (topBanner.leftWidth) ? topBanner.leftWidth  : '50%'
      var rightWidth =  (topBanner.rightWidth) ? topBanner.rightWidth  : '50%'


    let topLink = topBanner.topLink || prop_item.site;
    topLink += utm(date, task, 'header', 'logo', 'index', prop_item.lang);

  if topBanner
    +table
      tr
        td.fluid(style="border-top: 6px solid #{borderColor}; background-color: green;")
          +table({"class": "top-banner"})
            tr
              td(align="center")
                +a({href: topLink})
                  img(src="#{topBanner.top}" width="100%" alt="")
      tr
        td.fluid
          +table({"class": "top-banner"})
            tr
              td(align="right" valign="top" width=leftWidth)
                a(href="#{prop_item.site + utm(date, task, 'header', 'logo', 'index', prop_item.lang)}" target="_blank")
                  img(src="#{topBanner.left}", alt="FBS")
              td.top-banner__btn(align="left" valign="top" width=rightWidth)
                a(href="#{'https://' + 'my.' + prop_item.site.spliceUrl() + '/payments' + utm(date, task, 'header', 'button', 'payments', prop_item.lang)}" target="_blank" title="Personal Area")
                  img(src="#{topBanner.right}", alt="Personal Area")

mixin quote(person)
  tr
    td.quote__outer
      +table
        tr
          td
            +table
              tr
                td.quote__desc-title
                  div !{person.name}
              tr
                td
                  +table
                    tr
                      td(valign="top").quote__icon: img(src="http://s.fbs.direct/custloads/761680031/2016/01_TRIGER/BONUS_888/Ujb2SOK.png" width="32" height="26")
                      td.quote__desc
                        +table
                          tr
                            td: div !{person.text}